
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    padding-top: 50px; 
    text-align: center;
    border-color: 10px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h1 {
    color: rgb(125, 137, 170); 
}

label {
    margin: 30px 0 10px 0; 
}

.main {
    display: flex;
    flex-direction: column;
}

.number-collected {
    background-color: rgb(242, 217, 242);
    border: none; 
    margin-bottom: 5px;
    padding: 4px 0; 
    width: 300px; 
    border-radius: 5px;
}

.submit {
    width: 300px; 
}

.message-clue {
    margin: 4px 0; 
}

.message-clue, .print-number-attempts {
    width: 300px; 
    //border-color: 0px solid transparent;
}

.button {
    margin-top: 15px; 
    background-color: rgb(219, 231, 241);
    border: none; 
    border-radius: 4px;
    padding: 7px 7px;
}